html,
body,
.view {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: white;
}
.view {
	margin-top: 5px;
}
.date-datepicker-filter {
	padding: none !important;
}
.md-datepicker-input-container {
	display: block;
	overflow: hidden;
	padding-left: 10px;
}
.md-datepicker-button {
	display: none !important;
}
.padding-5 {
	padding: 5px;
}
.padding-15 {
	padding: 15px;
}
.padding-30 {
	padding: 35px;
}
.padding-t10 {
	padding-top: 10px;
}
.padding-l15 {
	padding-left: 15px;
}
.padding-r15 {
	padding-right: 15px;
}
.padding-l125 {
	padding-left: 25px;
}
.margin-15 {
	margin: 15px;
}
.margin-5 {
	margin: 5px;
}
.margin .l15 {
	margin-left: 15px;
}
.margin .r15 {
	margin-right: 15px;
}
.margin-b25 {
	margin-bottom: 35px;
}
.margin .a15 {
	margin: 15px;
}
.viewtree {
	/*background-color: hsl(196, 35%, 86%);*/
	/*min-height: 100%;*/
	overflow: hidden;
	flex: 20%;
}
.min-heigth {
	min-height: 100%;
}
.background-tree {
	background-color: #f9f9f9;
}
.label {
	color: dimgray !important;
}
.background-table {
	background-color: rgb(232, 243, 249);
}
.table {
	flex-wrap: wrap;
}
.color-icon {
	fill: rgb(0, 109, 240);
}

.color-icon-white {
	fill: #fff;
}

.size-image-table {
	width: 50px;
	height: 50px;
	margin: 5px;
}
.size-image {
	width: 250px;
	height: 250px;
}
.badge {
	background-color: #e5101d;
	color: #fff;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	font-size: 11px;
	position: absolute;
	right: 2px;
	top: 5px;
	line-height: 13px;
	text-align: center;
	padding-top: 3px;
}
.imagebgr {
	background-image: url("../images/new.jpg");
}
.login {
	margin-left: 340px;
	margin-top: 100px;
}
.item-menu {
	background-color: aquamarine;
}
.dtp div.dtp-date,
.dtp div.dtp-time {
	background: rgb(119, 133, 228);
}
.dtp table.dtp-picker-days tr > td > a.selected {
	background: rgb(119, 133, 228);
}
.dtp > .dtp-content > .dtp-date-view > header.dtp-header {
	background: rgb(60, 78, 206);
}
.dtp .dtp-actual-meridien a.selected {
	background: rgb(119, 133, 228);
}
.dtp .dtp-picker-time > a.dtp-select-hour.selected {
	background: rgb(119, 133, 228);
}
md-input-container .md-input[disabled],
[disabled] md-input-container .md-input {
	color: rgba(0, 0, 0, 0.87);
}
md-select.md-default-theme[disabled] .md-select-value,
md-select[disabled] .md-select-value {
	color: rgba(0, 0, 0, 0.87);
}
.error {
	color: red;
}

.draw {
	height: 5px;
	background-color: #4f62f3;
}
.list-view {
	background-color: #e9ebee;
}

a.link {
	color: #2559a9;
	text-decoration: none;
}

.link {
	color: #2559a9;
	text-decoration: none;
}

a.link:hover {
    color: #8fd4e4;
    background-color: transparent;
}