<div class="md-toolbar-tools padding-15">
	<a href="" ui-sref="nhanvien" class="link">NHÂN VIÊN /</a>
	<span class="link"> THÔNG TIN CHI TIẾT NHÂN VIÊN VĂN PHÒNG</span>
	<span flex></span>
	<md-button class="md-fab md-primary md-hue-2" aria-label="Edit" ng-click="vm.edit=false" ng-if="vm.edit">
		<md-icon md-svg-icon="images/pencil-edit.svg"></md-icon>
	</md-button>
	<md-button class="md-fab md-primary md-hue-2" aria-label="Edit" ng-show= "!vm.nvvp.xacnhan" ng-click="showgdtaomatkhau($event,vm.nvvp)">
		<md-icon md-svg-icon="images/mail.svg"></md-icon>
	</md-button>
	<md-button class="md-fab md-primary md-hue-2" aria-label="New" ng-click="vm.modelNVVPNew()">
		<md-icon md-svg-icon="images/add.svg"></md-icon>
	</md-button>
	<md-button class="md-fab md-primary md-hue-2" aria-label="Delete" ng-click="vm.showConfirmvp($event, vm.nvvp.cmnd)">
		<md-icon md-svg-icon="images/delete.svg"></md-icon>
	</md-button>
</div>
<div layout-align="center center" layout="row">
	<span class="error">{{vm.message}}</span>
</div>
<br>
<div layout="row">
	<div flex="45" class="padding-15" layout="column">
		<span>Chứng minh nhân dân</span>
		<md-input-container>
			<input type="text" ng-model="vm.nvvp.cmnd" ng-disabled="vm.edit">
		</md-input-container>

		<span>Họ tên</span>
		<md-input-container>
			<input type="text" ng-model="vm.nvvp.hoten" ng-disabled="vm.edit">
		</md-input-container>

		<span>Ngày sinh</span>
		<md-input-container>
			<input mdc-datetime-picker="" time="false" date="true" type="text" format="DD/MM/YYYY" ng-model="vm.nvvp.ngaysinh" ng-disabled="vm.edit">
		</md-input-container>

		<span>Giới tính</span>
		<md-input-container>
			<md-select ng-model="vm.nvvp.gioitinh" ng-disabled="vm.edit">
				<md-option value="Nam">Nam</md-option>
				<md-option value="Nữ">Nữ</md-option>
			</md-select>
		</md-input-container>
		<br>

		<span>Quê quán</span>
		<md-input-container>
			<input type="text" ng-model="vm.nvvp.quequan" ng-disabled="vm.edit">
		</md-input-container>

		<span>Địa chỉ</span>
		<md-input-container>
			<input type="text" ng-model="vm.nvvp.diachihientai" ng-disabled="vm.edit">
		</md-input-container>

	</div>
	<div flex="10"></div>
	<div flex="45" class="padding-15" layout="column">
		<span>Số điện thoại</span>
		<md-input-container>
			<input type="text" ng-model="vm.nvvp.sodt" ng-disabled="vm.edit">
		</md-input-container>

		<span>Email</span>
		<md-input-container>
			<input type="text" ng-model="vm.nvvp.email" ng-disabled="vm.edit">
		</md-input-container>

		<span>Lương(tháng)</span>
		<md-input-container>
			<input type="text" ng-model="vm.nvvp.luongtheothang" ng-disabled="vm.edit" currency-input = "">
		</md-input-container>

		<span>Hình ảnh</span>
		<md-input-container>
			<!--<input type="file" ng-file-select="onFileSelect($files)"  ng-model = "vm.hinhanh">-->
			<input type="text" ng-model="vm.nvvp.hinhanh">
			<img ng-src="{{vm.nvvp.hinhanh}}" alt="Cập nhật hình ảnh" height="250px" width="250px">
		</md-input-container>
	</div>
</div>
<span flex></span>
<div layout="row">
	<span flex></span>
	<md-button class="md-raised" ng-click="vm.capnhatnvvp()" ng-if="!vm.edit">Save</md-button>
	<md-button class="md-raised" ng-if="!vm.edit">Cancel</md-button>
</div>
